{% extends 'base.html.twig' %}

{% block title %}Hello BarController!{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ beer.name }}</h5>
        <p class="card-text">{{ beer.description }}</p>
        <p class="card-text">{{ beer.price / 10 }}</p>
        <p class="card-text">{{ beer.degree / 10 }}</p>
        <p class="card-text">{{ beer.countryId.name }}</p>
        {% for category in beer.categories %}
          <p>{{ category.name }}</p>
          <p>{{ category.term }}</p>
        {% endfor %}
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
